body {
  margin: 0;
}

.App {
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('./assets/background.jpeg');
  background-size: cover;
}

.RegisterMakeUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: fit-content;
}
